<div class="contenedor">
  <div class="lines">
    <p> Asistentes totales al festival:</p>
    <mat-divider></mat-divider>
    <p> Quejas recibidas:</p>
    <mat-divider></mat-divider>
    <p>Tiempo de espera medio de los asistentes:</p>
    <mat-divider></mat-divider>
    <p>Satisfacción general del público (0-10):</p>
    <mat-divider></mat-divider>

  </div>

  <div class="numbers">
    <p> 10000</p>
    <mat-divider></mat-divider>
    <p> 230</p>
    <mat-divider></mat-divider>
    <p> 150s</p>
    <mat-divider></mat-divider>
    <p> 10</p>
    <mat-divider></mat-divider>
  </div>
</div>
