<div class="contenedor">
  <mat-list class="o1" role="list">
    <div class="titulo" mat-subheader>Productos sold-out</div>
    <mat-list-item role="listitem">Hierbabuena</mat-list-item>
    <mat-list-item role="listitem">Fanta limón</mat-list-item>
    <mat-list-item role="listitem">Red bull 0</mat-list-item>
  </mat-list>

  <mat-list class = "o2" role="list">
    <div class="titulo" mat-subheader>Últimas unidades</div>
    <mat-list-item role="listitem">Hielo</mat-list-item>
    <mat-list-item role="listitem">Coca Cola</mat-list-item>
    <mat-list-item role="listitem">Barceló</mat-list-item>
  </mat-list>
</div>

