<div class="contenedor">
  <div class="actuaciones">
    <p class="titulo"> Siguientes actuaciones</p>
    <mat-divider></mat-divider>
    <p> Trueno</p>
    <p> SFDK</p>
    <p>Melendi</p>
  </div>
  <div class="pista">
    <p class="titulo">Pista</p>
    <mat-divider></mat-divider>
    <p>1</p>
    <p>2</p>
    <p>4</p>

  </div>
  <div class="horario">
    <p class="titulo">Horario </p>
    <mat-divider></mat-divider>
    <p>20:00</p>
    <p>21:00</p>
    <p>22:00</p>
  </div>
</div>
<div>
  <p class="titulo"> Progreso total:</p>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
</div>
