/* You can add global styles to this file, and also import other style files */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

body {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  margin: 0;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif;}
